<h1> Forum </h1>

<%= link_to "New Question", new_question_path %>

<br>
<br>

<% @questions.each do |question| %>

<div style="border: 1px solid black; background-color: #add836;">

  <h3><%= question.content %></h3>
  <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %>
  <br>

  <%= link_to 'Edit', edit_question_path(question) %>

  <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?'} %>

  <% if question.answers.any? %>

  <h4>Answers</h4>

  <%= render question.answers %>

  <% end %>

  <hr>

  <p>Add Answers</p>

  <%= form_for([question, question.answers.build]) do |f| %>
    <%= f.text_area :content %>
    <%= submit_tag "Add" %>
  <% end %>

</div>

<br>
<br>

<% end %>